# Alpaca API (crypto-enabled paper account)
APCA_API_KEY_ID=your_paper_api_key
APCA_API_SECRET_KEY=your_paper_secret_key
PAPER_TRADING=true
ALLOW_LIVE_TRADING=false

# BTC/USD scalper v3
CRYPTO_MODE=true
CRYPTO_SYMBOLS=BTC/USD
NOTIONAL_PER_TRADE=12.0
SCAN_INTERVAL_SECONDS=60
VERBOSE_DEBUG=false
LOG_EVERY_N_SCANS=5
SLACK_NOTIFY_SCANS=false

REQUIRE_5M_UPTREND=false
REQUIRE_15M_UPTREND=true
REQUIRE_VOLUME_SPIKE=false
REQUIRE_ABOVE_EMA9=false
REQUIRE_RSI_TURNING_UP=true
BOLLINGER_LOWER_HALF_ONLY=true

RSI_OVERSOLD=42
RSI_OVERBOUGHT=68
VWAP_PULLBACK_PCT=0.012
STOP_LOSS_PCT=0.0065
TAKE_PROFIT_PCT=0.017
MAX_HOLD_MINUTES=15

ENTRY_TIMEFRAME=1Min
TREND_TIMEFRAME=5Min
TREND_TIMEFRAME_15M=15Min

MAX_DAILY_LOSS_PCT=0.02
MAX_OPEN_POSITIONS=1
SLACK_BOT_TOKEN=
SLACK_CHANNEL=my-trade
